* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.container {
  width: 80%;
  margin: auto;
}

.navBar {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage h1 {
  margin-top: 50px;
  margin-bottom: 40px;
}
.homepage .moviesTable {
  width: 100%;
  border-collapse: collapse;
}
.homepage .moviesTable .movie_title {
  width: 35%;
}
.homepage .moviesTable th {
  text-transform: uppercase;
  text-align: left;
  padding: 30px 10px;
}
.homepage .moviesTable td {
  text-align: left;
  padding: 10px;
}
.homepage .movie:nth-child(even) {
  background-color: #cecece;
}
.homepage .movie .actions {
  display: flex;
}

.show-movie {
  width: 80%;
  margin: auto;
  color: #cecece;
}
.show-movie .movieInfo {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  text-align: right;
  margin: 40px 0;
}
.show-movie .movieInfo .movieposter {
  height: 500px;
  margin-left: 40px;
}
.show-movie .movieInfo .movieposter img {
  height: 100%;
}
.show-movie .backhome {
  position: absolute;
  top: 30px;
  font-size: 25px;
  text-decoration: none;
  color: #212322;
  transition: all 0.2s;
}
.show-movie .backhome:hover {
  color: #cecece;
}
