.homepage{
   h1{
      margin-top: 50px;
      margin-bottom: 40px;
   }
   .moviesTable{
    width: 100%;
    border-collapse: collapse;
    .movie_title{
       width: 35%;
    }
    th{
      text-transform: uppercase;
      text-align: left;
      padding: 30px 10px;
    }
    td{
       text-align: left;
       padding: 10px;

    }
   }
   .movie{  
      &:nth-child(even){
         background-color: #cecece;
      }
      .actions{
         display: flex;
      }
   }
}